body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: lightgray;
}

.logo {
    width: 150px;
    height: auto;
    margin: 0 20px;
}

.titulo-pagina {
    font-weight: bold;
}

.card {
    border: 2px solid black;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 10px;
    width: 300px;
    -webkit-animation: pisca .9s linear;
    -moz-animation: pisca .9s linear;
    -ms-animation: pisca .9s linear;
    -o-animation: pisca .9s linear;
    animation: pisca .9s linear;
}

@keyframes pisca {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 0.5;
    }

    100% {
        opacity: 1;
    }
}

.HostName {
    font-weight: bold;
}

.device-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.status-indicator {
    width: 75px;
    height: 75px;
}

#results {
    margin-top: 20px;
}